
{% extends "profile.html" %}
{% block title %}Chỉnh sửa thông tin cá nhân{% endblock %}
{% block page_title %}Chỉnh sửa thông tin {% endblock %}
{% block profile_content %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
          {% endif %}
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label">Tên đăng nhập</label>
              {{ form.username }}
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              {{ form.email }}
            </div>
            <div class="mb-3">
              <label class="form-label">Họ</label>
              {{ form.first_name }}
            </div>
            <div class="mb-3">
              <label class="form-label">Tên</label>
              {{ form.last_name }}
            </div>
            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
          </form>

{% endblock %}
