{% load static %}

<div class="sidebar">
    <div class="navbar-brand text-white d-flex align-items-center">
        <i class="fas fa-chart-line me-2"></i>
        <span>Admin Dashboard</span>
    </div>
    <div class="sidebar-links">
        <a href="{% url 'admin_dashboard' %}" class="sidebar-link {% if request.path == '/admin/' %}active{% endif %}">
            <i class="fas fa-home"></i>
            <span>Trang chủ</span>
        </a>
        <a href="{% url 'manage_questions' %}" class="sidebar-link {% if request.path == '/admin/questions/manage' %}active{% endif %}">
            <i class="fas fa-question-circle"></i>
            <span>Ngân hàng câu hỏi</span>
        </a>
        <a href="{% url 'manage_exams' %}" class="sidebar-link {% if request.path == '/admin/exams/' %}active{% endif %}">
            <i class="fas fa-file-alt"></i>
            <span>Bài thi</span>
        </a>
        <a href="{% url 'manage_users' %}" class="sidebar-link {% if request.path == '/admin/users/manage' %}active{% endif %}">
            <i class="fas fa-users"></i>
            <span>Thí sinh</span>
        </a>
        <a href="{% url 'manage_results' %}" class="sidebar-link {% if request.path == '/admin/results/manage' %}active{% endif %}">
            <i class="fas fa-list"></i>
            <span>Kết quả</span>
        </a>
        <a href="{% url 'certificate_list' %}" class="sidebar-link {% if request.path == '/admin/certificates/' %}active{% endif %}">
            <i class="fas fa-certificate"></i>
            <span>Chứng chỉ</span>
        </a>
        <a href="{% url 'manage_support_requests' %}" class="sidebar-link">
            <i class="fas fa-headset"></i>
            <span>Yêu cầu hỗ trợ</span>
        </a>
        <a href="{% url 'logout' %}" class="sidebar-link {% if request.path == '/admin/logout' %}active{% endif %}">
            <i class="fas fa-sign-out-alt"></i>
            <span>Đăng xuất</span>
        </a>
        
    </div>
</div>